{% extends 'base.html' %}
{% block content %}
<div class='my-4 mx-5'>
{% for post in posts %}
<div class="card text-dark bg-light mb-3 border-dark">
 <h6 class="card-header">Post By {{post.author}}</h6>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text text-truncate">{{post.body}}</p>
    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Check Out!</a>
  </div>
</div>

{% empty %}
<h3>No Posts...</h3>
{% endfor %}
</div>

{% endblock content %}